################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiTest/bin/Debug/net5.0
/.vs/ApiTest
/ApiTest/obj
/Integration/bin/Debug/net5.0
/Integration/obj
/Model/bin/Debug/net5.0
/Model/obj/Debug/net5.0
/Model/obj
/Services/bin/Debug/net5.0
/Services/obj
/Utils/obj
